<div>
  <h2 id="page-heading" data-cy="ProductsHeading">
    <span jhiTranslate="jhipsterOauthApp.products.home.title">Products</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [animation]="isLoading ? 'spin' : undefined"></fa-icon>
        <span jhiTranslate="jhipsterOauthApp.products.home.refreshListLabel">Обновить список</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-products"
        [routerLink]="['/products/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="jhipsterOauthApp.products.home.createLabel">Создать новый Products</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error />

  <jhi-alert />

  @if (products().length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span jhiTranslate="jhipsterOauthApp.products.home.notFound">Products не найдено</span>
    </div>
  } @else {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [(sortState)]="sortState" (sortChange)="navigateToWithComponentValues($event)">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span jhiTranslate="global.field.id">ID</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="title">
              <div class="d-flex">
                <span jhiTranslate="jhipsterOauthApp.products.title">Title</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="category">
              <div class="d-flex">
                <span jhiTranslate="jhipsterOauthApp.products.category">Category</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="price">
              <div class="d-flex">
                <span jhiTranslate="jhipsterOauthApp.products.price">Price</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (products of products(); track trackId(products)) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/products', products.id, 'view']">{{ products.id }}</a>
              </td>
              <td>{{ products.title }}</td>
              <td>{{ products.category }}</td>
              <td>{{ products.price }}</td>
              <td class="text-end">
                <div class="btn-group">
                  <a [routerLink]="['/products', products.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.view">Просмотр</span>
                  </a>

                  <a [routerLink]="['/products', products.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Изменить</span>
                  </a>

                  <button type="submit" (click)="delete(products)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Удалить</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
</div>
