<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-orders-heading" data-cy="OrdersCreateUpdateHeading" jhiTranslate="jhipsterOauthApp.orders.home.createOrEditLabel">
        Создать или отредактировать Orders
      </h2>

      <div>
        <jhi-alert-error />

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" for="field_id" jhiTranslate="jhipsterOauthApp.orders.id">ID</label>
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        @let userIdRef = editForm.get('userId')!;
        <div class="mb-3">
          <label class="form-label" for="field_userId" jhiTranslate="jhipsterOauthApp.orders.userId">User Id</label>
          <input type="number" class="form-control" name="userId" id="field_userId" data-cy="userId" formControlName="userId" />
          @if (userIdRef.invalid && (userIdRef.dirty || userIdRef.touched)) {
            <div>
              @if (editForm.get('userId')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">Это поле обязательно к заполнению.</small>
              }
              <small
                class="form-text text-danger"
                [hidden]="!editForm.get('userId')?.errors?.number"
                jhiTranslate="entity.validation.number"
                >Это поле должно быть число.</small
              >
            </div>
          }
        </div>

        @let productIdRef = editForm.get('productId')!;
        <div class="mb-3">
          <label class="form-label" for="field_productId" jhiTranslate="jhipsterOauthApp.orders.productId">Product Id</label>
          <input type="number" class="form-control" name="productId" id="field_productId" data-cy="productId" formControlName="productId" />
          @if (productIdRef.invalid && (productIdRef.dirty || productIdRef.touched)) {
            <div>
              @if (editForm.get('productId')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">Это поле обязательно к заполнению.</small>
              }
              <small
                class="form-text text-danger"
                [hidden]="!editForm.get('productId')?.errors?.number"
                jhiTranslate="entity.validation.number"
                >Это поле должно быть число.</small
              >
            </div>
          }
        </div>

        @let totalRef = editForm.get('total')!;
        <div class="mb-3">
          <label class="form-label" for="field_total" jhiTranslate="jhipsterOauthApp.orders.total">Total</label>
          <input type="number" class="form-control" name="total" id="field_total" data-cy="total" formControlName="total" />
          @if (totalRef.invalid && (totalRef.dirty || totalRef.touched)) {
            <div>
              @if (editForm.get('total')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">Это поле обязательно к заполнению.</small>
              }
              <small class="form-text text-danger" [hidden]="!editForm.get('total')?.errors?.number" jhiTranslate="entity.validation.number"
                >Это поле должно быть число.</small
              >
            </div>
          }
        </div>

        @let quantityRef = editForm.get('quantity')!;
        <div class="mb-3">
          <label class="form-label" for="field_quantity" jhiTranslate="jhipsterOauthApp.orders.quantity">Quantity</label>
          <input type="number" class="form-control" name="quantity" id="field_quantity" data-cy="quantity" formControlName="quantity" />
          @if (quantityRef.invalid && (quantityRef.dirty || quantityRef.touched)) {
            <div>
              @if (editForm.get('quantity')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">Это поле обязательно к заполнению.</small>
              }
              <small
                class="form-text text-danger"
                [hidden]="!editForm.get('quantity')?.errors?.number"
                jhiTranslate="entity.validation.number"
                >Это поле должно быть число.</small
              >
            </div>
          }
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Отмена</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Сохранить</span>
        </button>
      </div>
    </form>
  </div>
</div>
